{% extends "base.html" %}

{% block title %}Информация о клиенте{% endblock %}

{% block content %}
<h1>Информация о клиенте</h1>
<p><strong>ID:</strong> {{ client.id }}</p>
<p><strong>Имя:</strong> {{ client.name }}</p>
<p><strong>Электронная почта:</strong> {{ client.email }}</p>
<p><strong>Номер телефона:</strong> {{ client.phone_number }}</p>
<p><strong>Адрес:</strong> {{ client.address }}</p>
<p><strong>Дата регистрации:</strong> {{ client.registration_date }}</p>
<a href="{% url 'client_list' %}" class="btn btn-secondary">Вернуться к списку клиентов</a>
{% endblock %}
