{% extends "base.html" %}

{% block title %}Информация о товаре{% endblock %}

{% block content %}
<a href="{% url 'product_list' %}" class="btn btn-secondary">Вернуться к списку товаров</a>
<h1>Информация о товаре</h1>
<p><strong>ID:</strong> {{ product.id }}</p>
<p><strong>Название:</strong> {{ product.name }}</p>
<p><strong>Описание:</strong> {{ product.description }}</p>
<p><strong>Цена:</strong> {{ product.price }}</p>
<p><strong>Количество:</strong> {{ product.quantity }}</p>
<p><strong>Дата добавления:</strong> {{ product.added_date }}</p>

{% if product.photo %}
        <img src="{{ product.photo.url }}" alt="{{ product.name }}">
    {% else %}
        <p>Фотография отсутствует</p>
    {% endif %}

{% endblock %}
